nav ul li a:hover {
    color: rgb(174, 174, 174);
}

nav ul li a {
    transition: all .5s;
}

.galerie-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.galerie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}

.icon {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 2;
}

.icon::before, .icon::after {
    content: '';
    position: absolute;
    background-color: currentColor;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    color: #fff;
    opacity: 0;
    transition: all .5s;
}

.icon::after {
    transform: translateX(-50%) rotate(-45deg);
}

.galerie-item:hover .icon::before, .galerie-item:hover .icon::after {
    opacity: 1;
}

.galerie-item:hover .icon::before {
    transform: translateX(-50%) rotate(90deg);
}

.galerie-item:hover .icon::after {
    transform: translateX(-50%) rotate(0deg);
}

.galerie-item:hover img {
    scale: 1.1;
}

.galerie-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 157, 95, 0.693);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}

.galerie-item:hover::after {
    opacity: 1;
}

.services div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}

.services div h5 {
    font-weight: 700;
    margin-top: 20px;
    transition: all .5s;
}

.services div p {
    color :#777;
}

header {
    z-index: 1000;
}

.services div:hover h5 {
    color: rgba(196, 157, 95, 0.693);
}

.offer {
    background-image: url(/dist/img/h5-parallax-img-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
}

#map {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #d6d6d6;
}

section iframe::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: black;
}